<div class="container-fluid">
    <div class="container-fluid">
        <div class="jumbotron container-fluid">
            <div class="row justify-content-center">
                <div class="col-7 align-self-end">
                    <div class="row">
                        <div class="col-12 text-right">
                            <h1>EAT-DA-BURGER</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-right">
                            <p class="notice green-text">All illustrations © Lucy McGuigan 2018</p>
                        </div>
                    </div>
                </div>
                <div class="col-5 burgercol">
                    <img class="logo" src="/assets/img/burger_burger.png">
                </div>
            </div>
            <form class="create-burger">
                <div class="row justify-content-center">
                    <div class="col-8">
                        <input class="form-control" id="new-burger" placeholder="Write the name of the burger here!"
                            type="text">
                    </div>
                    <div class="col-2 d-flex flex-row-reverse">
                        <button type="submit" class="btn btn-success submit-btn">Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="topbun" id="colortop">
                    <h3>UNEATEN</h3>
                    <img class="bunimg" src="/assets/img/burger_topbuncolor.png">
                </div>
                <div class="patties">
                    {{#each burgers}} {{#unless devoured}} {{> burgers/burger-block eatBtn=true greyClass=false}}
                    {{/unless}} {{/each}}
                </div>
                <div class="bottombun" id="colorbottom">
                    <img class="bunimg" src="/assets/img/burger_bottombuncolor.png">
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="topbun" id="greytop">
                    <h3>EATEN</h3>
                    <img class="bunimg" src="/assets/img/burger-03.png">
                </div>
                <div class="patties">
                    {{#each burgers}} {{#if devoured}} {{> burgers/burger-block eatBtn=false greyClass=true}} {{/if}}
                    {{/each}}
                </div>
                <div class="bottombun" id="greybottom">
                    <img class="bunimg" src="/assets/img/burger-05.png">
                </div>
            </div>
        </div>
    </div>
</div>
<div id="error-modal" class="modal">
    <div class="row justify-content-center">
        <div class="modal-content col-11 col-sm-11 col-md-9 col-lg-6 col-xl-5">
            <h1>Uh-oh!</h1>
            <p class="notice green-text pad-text">You haven't entered a name for your burger. Please provide a name and
                try again!</p>
            <button class="btn btn-success got-it">Okay, got it!</button>
        </div>
    </div>
</div>